.b1{
    background-color: blue;
    font-size: 24px;
}

.b2{
    background-color: red;
    font-size: 24px;
}

.b3{
    background-color: green;
    font-size: 24px;
}

.b4{
    background-color: pink;
    font-size: 24px;
}

.b5{
    background-color: orange;
    font-size: 24px;
}

.b6{
    background-color: brown;
    font-size: 24px;
}

.b7{
    background-color: yellow;
    font-size: 24px;
}

.hs1{
    background-color: blue;
}

.hs2{
    background-color: red;
}

.hs3{
    background-color: green;
}

.hs4{
    background-color: pink;
}

.hs5{
    background-color: orange;
}

.hs6{
    background-color: brown;
}

.hs7{
    background-color: yellow;
}

.dia{
    font-size: 24px;
}

